<div class='row collapse todo-list-title'>
  <div class='small-12 columns'>
    <%= title @todo_list.title %>
    <span class='fa fa-caret-down'></span>
  </div>
</div>

<%= render 'functions', todo_list: @todo_list %>

<% if @todo_list.todo_items.present? %>

  <ul class='list todo-items no-bullet'>
    <%= render partial: 'todo_item', collection: @todo_list.todo_items, as: :todo_item,
                                     locals: { todo_list: @todo_list } %>
  </ul>

<% else %>

  <%= render 'blank_slate', todo_list: @todo_list %>

<% end %>

<!-- Email modal -->
<%= render 'email_modal', todo_list: @todo_list %>
