<div class='row collapse todo-list-title'>
  <div class='small-12 columns'>
    <%= title @todo_list.title %>
    <span class='fa fa-caret-down'></span>
  </div>
</div>

<%= render partial: 'functions' %>

<% if @todo_list.todo_items.present? %>

  <ul class='list todo-items no-bullet'>
    <%= render partial: 'todo_item', collection: @todo_list.todo_items %>
  </ul>

<% else %>

  <%= render partial: 'blank_slate' %>

<% end %>

<!-- Email modal -->
<%= render partial: 'email_modal' %>
