<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield :title %>Od-ot
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/flash' %>

    <header class='row global-header'>
      <div class='small-12 small-centered medium-8 medium-centered large-5 large-centered columns'>
        <% if logged_in? %>
          <%= render 'layouts/header_logged_in', go_back_link_to: @go_back_link_to %>
        <% else %>
          <%= render 'layouts/header_logged_out' %>
        <% end %>
      </div>
    </header>

    <div class='row collapse'>
      <div class='small-12 small-centered medium-8 medium-centered large-5 large-centered columns'>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
